<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Evade Internet Censorship in Australia. Unblock websites with Tor, DNS and VPN services.">
  <meta name="author" content="CryptoAUSTRALIA">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ "/apple-icon-57x57.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "/apple-icon-60x60.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "/apple-icon-72x72.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/apple-icon-76x76.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "/apple-icon-114x114.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/apple-icon-120x120.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "/apple-icon-144x144.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/apple-icon-152x152.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-icon-180x180.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ "/android-icon-192x192.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "/favicon-96x96.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ "/ms-icon-144x144.png" | relative_url }}">
  <meta name="theme-color" content="#ffffff">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" integrity="sha256-t2/7smZfgrST4FS1DT0bs/KotCM74XlcqZN5Vu7xlrw=" crossorigin="anonymous" />
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="{{ "/assets/main.css" | relative_url }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700" rel="stylesheet">

  <link rel="sitemap" href="{{ "/sitemap.xml" | relative_url }}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <link rel="dns-prefetch" href="https://cryptoaustralia.org.au/">

  {% if jekyll.environment == 'production' %}
  {% include social.html %}
  {% endif %}

  {% if jekyll.environment == 'production' and site.google_analytics %}
  {% include google-analytics.html %}
  {% endif %}

</head>
